@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#F4F0FF,#DACDFF);
}
.chatbot-popup{
    position: relative;
    width: 420px;
   overflow: hidden;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgb(0, 0, 0, 0.1), 0 32px 64px -48px rgb(0, 0, 0, 0.5);
}
.chatbot-popup .chat-header{
    display: flex;
    padding: 15px 22px;
    align-items: center;
    background: #6D4FC2;
    justify-content: space-between;
}
.chat-header .header-info{
    display: flex;
    gap: 10px;
    align-items: center;
}
.header-info svg{
    height: 35px;
    width: 35px;
    padding: 6px;
    flex-shrink: 0;
    fill: #6D4FC2;
    background: #fff;
    border-radius: 50%;
}
.header-info .logo-text{
    color: #fff;
    font-size: 1.51rem;
    font-weight: 600;
}
.chat-header button{
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    background: none;
    transition: 0.2s ease;
    padding-top: 2px;
    margin-right: -10px;
    font-size: 1,9rem;
}
.chat-header button:hover{
    background: #593bab;
}
.chat-body{
    padding: 25px 22px;
    height: 460px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 82px;
    scrollbar-width: thin;
    scrollbar-color: #DDD3F9 transparent;
}
.chat-body .message{
    display: flex;
    align-items: center;
    gap: 11px;
}
.chat-body .bot-message svg{
    height: 35px;
    width: 35px;
    padding: 6px;
    flex-shrink: 0;
    fill:#fff;
    background: #6D4FC2;
    margin-bottom: 2px;
    align-self: flex-end;
    border-radius: 50%;
}
.chat-body .message .message-text{
    padding: 12px 16px;
    max-width: 75%;
   word-wrap: break-word;
   white-space: pre-line;
   font-size: 0.95rem
}
.chat-body .bot-message .message-text{
    background: #F6F2FF;
    border-radius: 13px 13px 13px 3px;
}
.chat-body .user-message{
    flex-direction: column;
    align-items: flex-end;
}

.chat-body .user-message .message-text{
    color: #fff;
    background: #6D4FC2;
    border-radius: 13px 13px 3px 13px;
}
.chat-footer{
    position: absolute;
    bottom: 0;
    padding: 15px 22px 20px;
    width: 100%;
    background:#fff;
}
.chat-footer .chat-form{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 32px;
    outline: 1px solid #CCCCE5;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.chat-footer .chat-form:focus-within{
    outline: 2px solid #6D4FC2;
}
.chat-form .message-input{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    padding: 0 17px;
    height: 47px;
    font-size: 0.95rem;
}
.chat-form button{
    height: 35px;
    width: 35px;
    border: none;
    display: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #6D4FC2;
    margin-right: 6px;
    border-radius: 50%;
    font-size: 1.15rem;
    flex-shrink: 0;
    transition: 0.2s ease;
}
.chat-form button:hover{
    background: #593bab;
}
.chat-form .message-input:valid ~ button{
    display: block;
}